<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="plantilla/template::head"></head>
                <body>
                    <h1>Datos de Persona</h1>
                    <a th:href="@{/personas}">Regresar</a>
                    <br>
                        <form th:object = "${persona}"
                              th:action="@{/save}"
                              method="post">
                            <div class="mb-3">
                                <input type="hidden" name="id" th:field="*{id}"/>
                               
                                <div class="mb-3">
                                <label class="form-label" for="nombre">Nombre</label>
                                <input class="form-control" type="text" th:field="*{nombre}"  placeholder= "Nombre Cliente" id="nombres" aria-describedby="emailHelp"/>
                               </div>
                                
                                <div class="mb-3">
                                <label class="form-label" for="apellido1">Primer Apellido</label>
                                <input class="form-control" type="text" th:field="*{apellido1}"  placeholder= "Primer Apellido" id="apellido1" aria-describedby="emailHelp"/>
                                </div>
                                
                                <div class="mb-3">
                                <label class="form-label" for="apellido2">Segundo Apellido</label>
                                <input class="form-control" type="text" th:field="*{apellido2}"  placeholder= "Segundo Apellido" id="apellido2" aria-describedby="emailHelp"/>
                                </div>
                                
                                <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Correo</label>
                                <input type="email" th:field="*{email}"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"/>
                                </div>
                                
                                <div class="mb-3">
                                <label class="form-label" for="telefono">Teléfono</label>
                                <input class="form-control" type="tel" th:field="*{telefono}"  placeholder= "telefono" id="telefono" aria-describedby="emailHelp"/>
                                </div>
                                
                                <div class="mb-3">
                                <label class="form-label" for="pais">Pais</label>
                                <select class="form-control" th:field="*{pais}" id="pais">
                                    <option th:each="x:${paises}"
                                            th:value="${x.id}"
                                            th:text="${x.pais}"/>
                                </select>
                                </div>
                                <br>
                                    
                                    <button type= "submit" value="Guardar" class="btn btn-primary">Guardar</button>
                            </div>
                        </form>
                        
                        <footer th:replace="plantilla/template::footer"></footer>
                </body>
                </html>
